html {
    background-color: #ffffff;
    font-family: open+sans, sans-serif;
    height: 100vh;
    width: 100vw;
}

.navi_links {
    color: black;
    text-decoration: none;
}

a {
    color: black;
}

#main_navi {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
#main_navi ul {
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: white;
}

#main_navi li {
    display: inline-block;
    margin: 0% 3% 0% 3%;
    padding: 5px 0px 5px 0px;
    text-decoration: underline;
    background-color: white;
}

#title {
    position: fixed;
    top: 30px;
    margin: 0px auto 5px auto;
    text-align: center;
    width: 100%;
    font-size: 3em;
    border-bottom: 1px solid black;
    background-color: white;
}

article {
    align: center;
    background-color: white;
    width: 50%;
    height: 75vh;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    padding: 10px 20px 0px 20px;
}

article hr {
     align: center;
     width: 100%;
     border-bottom: 0.5px solid gold;
}

.post-title {
    text-align: center;
    line-height: 1px;
    font-size: 1.5em;
}

.post-date {
    text-align: center;
    font-size: 0.7em;
}


.post-text {
    text-align: center;
    font-size: 0.9em;
}

footer {
    margin: 5px auto auto auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding: 0;
    background-color: white;
}

footer p {
    text-align: center;
    font-size: 0.8em;
    line-height: 1px;
}